/*TARGET*/
/*:target {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}*/

body{
    /*opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */*/
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;

    background: url('../img/load.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

/*ABOUT */
.logo {
  border-radius: 4px;
}

.img-shadow {
  -webkit-filter: drop-shadow(0px 5px 10px #DDD );
  filter: drop-shadow(0px 5px 10px #DDD);
}

.name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-style: bold;
  text-transform: uppercase;
}

.about-row {
  /*margin-top: 25%;
  margin-bottom: 20%;*/
  margin-top: 250px;
  margin-bottom: 125px;
}

.desc1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  /*text-transform: uppercase;*/
}

.desc2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  /*text-transform: uppercase;*/
}

.header {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 35px;
  padding-bottom: 10px;
}

/*FILTER*/

.filter-row {
  margin-top: 65px;
  margin-bottom: 0%;
  /*margin-left: -15%;
  margin-right: -15%*/

}

.accent-text {
  display: inline-block;
  height: 38px;
  /*padding: 0 25px;*/
  color: #454549;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  /*background-color: transparent;
  border-radius: 4px;
  border: 1px solid #454549;*/
  cursor: pointer;
  box-sizing: border-box;
}

.filter-btn {
  display: inline-block;
  height: 38px;
  padding: 0 25px;
  color: #454549;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #454549;
  cursor: pointer;
  box-sizing: border-box;
}

.filter-btn:hover {
  background-color: #ddd;
}

.filter-btn.active {
  background-color: #010101;
  color: white;
}


.action-btn2 {
  display: inline-block;
  height: 38px;
  padding: 0 25px;
  color: #454549;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #454549;
  cursor: pointer;
  box-sizing: border-box;
}

.action-btn2:hover {
  background-color: #0e27e4;
  border: 1px solid #0e27e4;
  color: white;
  text-decoration:none
}

@media only screen and (max-width: 576px) {
  .project-buttons2 {
    text-align: center;
  }
}

.action-btn3 {
  display: inline-block;
  height: 38px;
  padding: 0 25px;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  cursor: pointer;
  box-sizing: border-box;
}

.action-btn3:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
  text-decoration:none
}

a {
  color: #0e27e4;
}

a:hover {
  color: #0e27e4;
}

.typewrite {
  text-decoration:none !important;
  color: black;
}

.inlink {
  font-weight: 500 !important;
  color: black !important;
}

.inlink:hover {
  font-weight: 500 !important;
  color: #0e27e4 !important;
  text-decoration:none
}


/*PROJECT*/

.project-row {
  /*padding-top: 10%;*/
  padding-top: 75px;
  /*padding-bottom: 10%;*/
  display:none
}

.show {
  display: flex;
}

.project-title {
  /*same as .header*/
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 35px;
  padding-bottom: 3px;
}

.project-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-style: bold;
  text-transform: uppercase;
  padding-bottom: 35px;
}

.project-desc {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  /*text-transform: uppercase;*/
  padding-bottom: 35px;

}

.project-divider {
  width: 80%;
  /*margin-top: 10%;*/
  margin-top: 95px;
}

.reg-divider {
  /*width: 80%;*/
  /*margin-top: 10%;*/
  margin-top: 95px;
}

.project-buttons {
  /* margin-top: 20px;
  margin-bottom: 20px; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.action-btn {
  padding-right: 10px;
}

.action-btn3 {
  /* padding-right: 10px; */
}

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-rounded {
  border-radius: 4px !important;

}

.quoteClass {
  margin-top: 10%;
  margin-bottom: 10%
}


.footer {
  margin-top: 5%;
  margin-bottom: 5%
}

.plyr{
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    margin: 20px auto;
}

.progress-container {
  width: 100%;
  height: 2px;
  background: #fff;
  position: fixed;
  top: 66px;
  z-index: 1;
  width: 100%;
}

.progress-bar {
  height: 2px;
  background: #010101;
  width: 0%;
}

.school {
  font-weight: 600;
  display:inline;
}

.course {
  font-size: 11px;
  opacity: 90%;
  padding-left: 13px;
  padding-bottom: 15px;
  padding-top: 3px;
}

#mobilevisitor {
  z-index: 9999;
  position: fixed;
  bottom: 0;
}
