/*TARGET*/
/*:target {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}*/

/*ABOUT */
.logo {
  border-radius: 4px;
}

.name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-style: bold;
  text-transform: uppercase;
}

.about-row {
  margin-top: 25%;
  margin-bottom: 20%;
}

.desc1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  /*text-transform: uppercase;*/
}

.desc2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  /*text-transform: uppercase;*/
}

.header {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 35px;
  padding-bottom: 10px;
}

/*FILTER*/

.filter-row {
  margin-top: 60px;
  margin-bottom: 0%;
  margin-left: -15%;
  margin-right: -15%

}

.filter-btn {
  display: inline-block;
  height: 38px;
  padding: 0 25px;
  color: #454549;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #454549;
  cursor: pointer;
  box-sizing: border-box;
}

.filter-btn:hover {
  background-color: #ddd;
}

.filter-btn.active {
  background-color: #010101;
  color: white;
}

/*PROJECT*/

.project-row {
  padding-top: 10%;
  /*padding-bottom: 10%;*/
  display:none
}

.show {
  display: flex;
}

.project-title {
  /*same as .header*/
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 35px;
  padding-bottom: 10px;
}

.project-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-style: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.project-desc {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  /*text-transform: uppercase;*/
}

.project-divider {
  width: 80%;
  margin-top: 10%
}

.project-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.quoteClass {
  margin-top: 10%;
  margin-bottom: 10%
}

.footer {
  margin-top: 5%;
  margin-bottom: 5%
}
